@import "../global/buttons.module.css";

.form__container {
    /* background-color: red; */
}

.form__rangeRow > p {
    margin: .3rem 0;
    font-size: .9rem;
}

.form__row {
    display: flex;
    justify-content: space-between;
}

.form__field {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 13rem;
    padding: 0.5rem 0;
}

.form__rangeField {
    width: 100%;
}

.primary__button {
    width: 100%;
    padding: 0.3rem 0;
    border-radius: .5rem;
    border: 1px solid gray;
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: all 0.2s ease;
}

.primary__button:hover {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.144) inset;
}