.form__container {
    background-color: red;
}

.form__row {
    display: flex;
    justify-content: space-between;
}

.form__field {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 13rem;
    padding: .5rem 0;
}