.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}

.App__card {
    width: fit-content;
    min-width: 28rem;
    max-width: 40rem;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0.5rem;
}
